/IMAGE_TRANSLATOR_TORCH/tmp*
/PPO_MCC/tmp/*
/PPO_PENDULUM/tmp/*
/SAC_CARLA/tmp/*
/SAC_CR/tmp/*
/SAC_PENDULUM/tmp/*
/SLAC_CARLA_V2/tmp/*
/SLAC_CR/tmp/*
/SLAC_CR_V2/tmp/*
/SLAC_TORCH/logs/*
/SLAC_TORCH_V2/logs/*
/TRANSFORMER/checkpoints/*
/VISION_TRANSFORMER/flower_photos/*
